.Body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(#fff3e3, #fafafa);   
}
@media (max-width: 800px) {
 .Box-Foto {
  flex-direction: column;
} 
}

.Box-Foto {
  position: absolute;
  display: flex;
  width: 90%;
  height: 90%;
  background: 
    linear-gradient(#fff3e354, #fff3e30e),
    url('../img/touristic-items-map.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form {
    background: #fcefdd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 80%;
    max-height:550px;
    height: 80%;
    position: relative;
    padding: 50px;
  }
.logo{
  z-index: 1;
  max-width: 500px;
  width: 80%;
}

